<div class="container-fluid footer background">
    <div class='row'>
        <div class='col-3'>
            <div class='footerTextHead mt-3 px-5'>
                ABOUT
            </div>

            <div class='footerText mt-1 px-5'>
                Out Story
            </div>

            <div class='footerText mt-1 px-5'>
                Organisation
            </div>

            <div class='footerText mt-1 px-5'>
                Development Team
            </div>
        </div>

        <div class='col-3'>
            <div class='footerTextHead mt-3 px-5'>
                HELP
            </div>

            <div class='footerText mt-1 px-5'>
                Contact Us
            </div>

            <div class='footerText mt-1 px-5'>
                Feedback
            </div>
        </div>

        <div class='col-6'>
            <div class='footerTextHead text-end mt-3 px-5'>
                FOLLOW US
            </div>

            <div class='footerText mt-3 px-5 text-end'>
                <i class='bubble text-center'>
                    <img src='../../assets/facebook-app-symbol.png' class='socialMediaIcon'>
                </i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class='bubble text-center'>
                    <img src='../../assets/instagram.png' class='socialMediaIcon'>
                </i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class='bubble text-center'>
                    <img src='../../assets/twitter.png' class='socialMediaIcon'>
                </i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class='bubble text-center'>
                    <img src='../../assets/linkedin.png' class='socialMediaIcon'>
                </i>
            </div>
        </div>
    </div>
</div>